{% extends "base.html" %}

{% block title %}
    flot
{% endblock %}

{% block list1 %}
    {% for item in project_name %}
        <li><a href="{{url_for('project_views.flot', value=item)}}">{{item}}</a></li>
    {% endfor %}
{% endblock %}

{% block list2 %}
    {% for item in project_name %}
        <li><a href="{{url_for('project_views.table', value=item)}}">{{item}}</a></li>
    {% endfor %}
{% endblock %}

{% block first %}
{% endblock %}

{% block second %}
{% endblock %}

{% block last %}
{% endblock %}

{% block container %}
<div class="page-404" >
    <img class="number" src="{{ url_for('static', filename='image/error.jpg') }}" style="margin: 50px 400px 50px 400px">
</div>

<div class="page-404-full-page">
    <h1 style="color:green">该时间点未获取到数据，你可以选择该日期前最近的<em>{{coodate}}</em></h1>
    <h1>Note <small>There is something wrong with the website,maybe you can deal with actions as follows:</small></h1>
    <ul style="font-size: large;">
        <li>The website start work at 2015.10.30,and the statistical data will be updated at 18:00 every day!</li>
        <li>Refresh the website with F5.</li>
        <li>Any questions ,please contact with integration team guys,thanks.</li>
    </ul>
</div>

<!-- END PAGE HEADER-->

{% endblock %}
