{% extends "base.html" %}

{% block title %}
    flot
{% endblock %}

{% block list1 %}
    {% for item in project_name %}
        <li><a href="{{url_for('project_views.flot', value=item)}}">{{item}}</a></li>
    {% endfor %}
{% endblock %}

{% block list2 %}
    {% for item in project_name %}
        <li><a href="{{url_for('project_views.table', value=item)}}">{{item}}</a></li>
    {% endfor %}
{% endblock %}

{% block first %}
{% endblock %}

{% block second %}
    active
{% endblock %}

{% block last %}
{% endblock %}

{% block container %}
<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

        <h3 class="page-title">

            Charts <small>visual charts & graphs</small>

        </h3>

        <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="index">Home</a>

                <i class="icon-angle-right"></i>

            </li>

            <li>
                <a href="">Charts</a>

                <i class="icon-angle-right"></i>
            </li>

            <li>
                <a href="">Flot Charts</a>
            </li>

        </ul>

        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

</div>

<!-- END PAGE HEADER-->

<!-- BEGIN CHART PORTLETS-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN BASIC CHART PORTLET-->

        <div class="portlet box blue">

            <div class="portlet-title">

                <div class="caption"><i class="icon-reorder"></i>PR in Project life circle</div>

                <div class="tools">

                    <a href="javascript:;" class="collapse"></a>

                    <a href="javascript:;" class="reload"></a>

                    <a href="javascript:;" class="remove"></a>

                </div>

            </div>

            <div class="portlet-body">

                <div class="chart">

                    <div class="flot-chart">

                        <div class="container">

                            <div class="row">

                                {% line_chart daily with library={
                                    "title":{"text":"PR in Project life circle"},
                                    "yAxis":{"title":{"text":"Number"}},
                                    "colors": ["#FFC81A", "#17BA4B", "red"]}
                                %}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- END BASIC CHART PORTLET-->

    </div>

</div>

<!-- END CHART PORTLETS-->


<!-- BEGIN CHART PORTLETS-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN BASIC CHART PORTLET-->

        <div class="portlet box blue">

            <div class="portlet-title">

                <div class="caption"><i class="icon-reorder"></i>Daily PR About module</div>

                <div class="tools">

                    <a href="javascript:;" class="collapse"></a>

                    <a href="javascript:;" class="reload"></a>

                    <a href="javascript:;" class="remove"></a>

                </div>

            </div>

            <div class="portlet-body">

                <div class="chart">

                    <div class="flot-chart">

                        <div class="container">

                            <div class="row">

                                {% column_chart module with min=0 max=50 library={
                                        "title":{"text":"Daily PR About module"},
                                        "yAxis":{"max":100,"title":{"text":"Number"}},
                                "colors": ["#FFC81A", "#17BA4B", "red"]}
                                %}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- END BASIC CHART PORTLET-->

    </div>

</div>

<!-- END CHART PORTLETS-->

{% for team in teams_sort %}
<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN BASIC CHART PORTLET-->

        <div class="portlet box blue">

            <div class="portlet-title">

                <div class="caption">

                    <i class="icon-reorder"></i>

                    <strong style="width:50px">{{team}}</strong> 

                    (Total Opened:{{teams_total[team][0]}} ,Fixed:{{teams_total[team][1]}} , Regression:{{teams_total[team][2]}})

                </div>

                <div class="tools">

                    <a href="javascript:;" class="collapse"></a>

                    <a href="#portlet-config" data-toggle="modal" class="config" data-target="#detail-{{team}}"></a>

                    <div class="modal fade" id="detail-{{team}}">

                        <div class="modal-dialog">

                            <div class="modal-content"  style="color: black;width: 800px">

                                <div class="modal-header" style="color: red">

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                    <h1 class="modal-title" id="myModalLabel">Detail about {{team}}</h1>

                                </div>

                                <div class="modal-body">

                                    <table class="table table-striped table-bordered table-hover">

                                        <thead>

                                        <tr>

                                            <th>Name</th>
                                            <th>P0_open</th>
                                            <th>P1_open</th>
                                            <th>P0_fixed</th>
                                            <th>P1_fixed</th>
                                            <th>P0_regression</th>
                                            <th>P1_regression</th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                            {% for person in team_detail[team] %}
                                            <tr>
                                                <td>{{person}}</td>
                                                <td>{{team_detail[team][person]['P0_open']}}</td>
                                                <td>{{team_detail[team][person]['P1_open']}}</td>
                                                <td>{{team_detail[team][person]['P0_fixed']}}</td>
                                                <td>{{team_detail[team][person]['P1_fixed']}}</td>
                                                <td>{{team_detail[team][person]['P0_regression']}}</td>
                                                <td>{{team_detail[team][person]['P1_regression']}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <a href="javascript:;" class="reload"></a>

                    <a href="javascript:;" class="remove"></a>

                </div>

            </div>

            <div class="portlet-body">

                <div class="container">

                    <div class="row">

                        {% for item in teams[team] %}

                        <div class="col-lg-12">

                            <div class="col-lg-4">

                                {% pie_chart teams[team][item][0] with library={
                                    "title":{"text":item },
                                    "plotOptions":{"pie":{"size":150,"dataLabels":{"distance":2,"format":"<b>{point.name}:{point.y}</b>"}}},
                                    "colors": ["#17BA4B", "#FFC81A","red"]}
                                %}

                            </div>

                            <div class="col-lg-8">

                                {% column_chart teams[team][item][1] with min=0 max=50 library={
                                    "title":{"text": team + " " + item + " "+ "PR in all little teams"},
                                    "plotOptions":{"series":{"pointWidth":"30"}},
                                    "yAxis":{"max":"100","tickInterval": "50","title":{"text":"Number"}},
                                    "colors": ["#FFC81A", "#17BA4B","red"]}
                                %}

                            </div>

                        </div>

                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
{% endfor %}

{% endblock %}
