{% extends "base.html" %}

{% block title %}
    home
{% endblock %}

{% block list1 %}
    {% for item in project_name %}
        <li ><a href="{{url_for('project_views.flot', value=item)}}">{{item}}</a></li>
    {% endfor %}
{% endblock %}

{% block list2 %}
    {% for item in project_name %}
        <li ><a href="{{url_for('project_views.table', value=item)}}">{{item}}</a></li>
    {% endfor %}
{% endblock %}

{% block first %}
    active
{% endblock %}

{% block second %}
{% endblock %}

{% block last %}
{% endblock %}

{% block container %}
<div class="row" style="margin-left: 20px">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Project Task Time</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-10">

                {% for project_name in project_status %}
                <div>
                    <p>
                        <strong>{{project_name}}</strong>

                        <span class="pull-right text-muted"><strong>{{project_status[project_name][0]}} %</strong> Complete</span>
                    </p>
                    <div class="progress progress-striped  active">
                        <div class="progress-bar {{project_status[project_name][1]}}" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{project_status[project_name][0]}}% ">
                            <span class="sr-only">{{project_status[project_name][2]}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
               <!-- /.div -->
            </div>
            <!-- col-lg-8-->


            <div class="col-lg-6">
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bug for all Projects
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Total Num</th>
                                    <th>Task Num</th>
                                    <th>Defect Num</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set flag=1 %}
                                {% for key in projects.keys() %}
                                {% if flag %}
                                <tr class="info">
                                    {% set flag=0 %}
                                    {% else %}
                                <tr class="warning">
                                    {% set flag=1 %}
                                    {% endif %}
                                    <td><b>{{key}}<b></td>
                                    {%  for item in total_sort %}
                                    <td>{{projects[key][item]}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel panel-default -->
            </div>

        </div>
        <!-- /.row -->

</div>
{% endblock %}

